<template>
  <div id="app">
    <app-header></app-header>

    <app-navigation></app-navigation>

    <div id="content">
      <router-view></router-view>
    </div>

    <app-footer></app-footer>
  </div>
</template>

<script>

    import Footer from '@/layouts/Footer'
    import Header from '@/layouts/Header'
    import Navigation from '@/layouts/Navigation'

    export default {
        components: {
          'app-footer': Footer,
          'app-header': Header,
          'app-navigation': Navigation,
        },
    }

</script>

<style lang="scss" lang="scss">
  // START RESET CSS
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  // END OF RESET

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    display: grid;
      grid-template-rows: 100px 1fr auto;
      grid-template-areas: 
        "header"
        "navigation"
        "content"
        "footer";
      grid-template-rows: 100px 50px 1fr 70px; 
      grid-template-columns: 1fr;
      grid-row-gap: 0px;
      grid-column-gap: 0px;
      height: 100vh;
      margin: 0;

      #content{
        grid-area: content;
      }
  }
  
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  .responsive{
    width: 100%;
    height: auto;
  }
</style>
