<template>

    <nav id="navigation" class="nav">
        <ul>
            <li class="nav--sub" v-for="(nav, index) in navigation" :key="`nav-${index}`">
                <router-link :to="nav.path">{{ nav.name }}</router-link>
            </li>
        </ul>
    </nav>

</template>

<script>

    export default {
      data() {
        return {
          activeClass: '',
          navigation: [
            {name: 'home', path: '/'},
            {name: 'about me', path: '/about'},
          ]
        }
      }
    }

</script>

<style lang="scss" scoped>

    #navigation{
        grid-area: navigation;
    }

    .nav{
        text-align: center;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                display: inline-block;
            }
            a{
                display: inline-block;
                text-decoration: none;
                margin: 2px;
                padding: 10px 15px;
                border: 1px solid #c2e1f5;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #fff;

                &:hover{
                    background-color: #c2e1f5;
                }
                &:visited, &:hover, &:focus{
                    color: #000;
                }
            }
        }
    }

</style>