<template>
  <div class="about">
    <h1>This is an about page</h1>
    STORE COUNER: {{ counter }}
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>

<script>

  import storeAbout from '@/mixins/store/about'

  export default {
    mixins: [storeAbout],
  }

</script>