<template>
  <div class="home">
    <div class="cat-box">
      <img alt="" class="responsive" :src="imageUrl">
    </div>
  </div>
</template>

<script>

import catImage from '@/api/catImage';
import defaultImage from '@/assets/logo.png';

export default {
  data: () => {
    return {
      imageUrl: defaultImage,
    }
  },
  created() {
    catImage.getImage()
      .then(response => {
        this.imageUrl = response.data.file
      })
      .catch( error => console.log(error))
      .finally(() => {
        console.log('finished ajax call')
      })
  }
}

</script>

<style lang="scss" scoped>
  .cat-box{
    margin: 0 auto;
    max-height: 500px;
    max-width: 500px;
  }
</style>